@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 40px;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #070439;
  font-size: 1.2rem;
  font-weight: 600;
}

nav ul li img {
  width: 100%;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 100px;
}

.intro .text {
  width: 50%;
}

.intro .text h1 {
  font-size: 2.5rem;
  color: #070439;
}

.intro .text p {
  padding-top: 10px;
  font-weight: 500;
  color: #070439;
}

.intro .text .input-section {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.intro .text .input-section input {
  padding: 10px;
  display: block;
  border: 1px solid black;
  outline: none;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
  font-size: 1.1rem;
}

.intro .text .input-section button {
  display: block;
  padding: 10px;
  border: none;
  background-color: #3065f8;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
}

.intro .text .input-section button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.intro .text .input-section input {
  width: 60%;
}

.intro .text .input-section button {
  width: 35%;
}

.intro .text .warning {
  color: red;
  padding-top: 10px;
  display: none;
  font-weight: 600;
}

.intro .image {
  width: 50%;
}

.intro .image img {
  width: 100%;
}

.productive {
  margin-top: 100px;
  width: 100%;
}

.productive .bg {
  width: 100%;
  display: block;
}

.productive .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 100px;
  background-color: #f8f8fe;
}

.productive .content .text {
  width: 50%;
}

.productive .content .text h1 {
  font-size: 2.5rem;
  color: #070439;
}

.productive .content .text p {
  padding-top: 10px;
  font-weight: 500;
  color: #070439;
}

.productive .content .text a {
  display: inline-block;
  padding-top: 10px;
  color: #3c9f8f;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.productive .content .text a:hover {
  opacity: 0.7;
}

.productive .content .text .quotation {
  padding: 20px;
  width: 300px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 10px grey;
          box-shadow: 0px 0px 10px grey;
  background-color: white;
  border-radius: 5px;
}

.productive .content .text .quotation p {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 20px;
}

.productive .content .text .quotation .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-top: 20px;
}

.productive .content .text .quotation .profile img {
  width: 50px;
  border-radius: 50%;
}

.productive .content .text .quotation .profile .title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
}

.productive .content .text .quotation .profile .title-card p {
  font-size: 1rem;
  font-weight: 700;
  line-height: initial;
}

.productive .content .text .quotation .profile .title-card span {
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
}

.productive .content .image {
  width: 50%;
}

.productive .content .image img {
  width: 100%;
}

.access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #585989;
  color: white;
  padding: 100px;
}

.access .text {
  width: 50%;
}

.access .text h1 {
  font-size: 2.5rem;
  color: #070439;
}

.access .text p {
  padding-top: 10px;
  font-weight: 500;
  color: #070439;
}

.access .text h1,
.access .text p {
  color: white;
}

.access .input {
  width: 50%;
}

.access .input .input-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 50px;
}

.access .input .input-section input {
  padding: 10px;
  display: block;
  border: 1px solid black;
  outline: none;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
  font-size: 1.1rem;
}

.access .input .input-section button {
  display: block;
  padding: 10px;
  border: none;
  background-color: #3065f8;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
}

.access .input .input-section button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.access .input .input-section input {
  width: 100%;
}

.access .input .input-section button {
  width: 300px;
  margin-top: 10px;
}

.access .input .warning {
  color: #ffa600;
  font-weight: 700;
  padding-top: 10px;
  display: none;
  margin-left: 50px;
}

footer {
  width: 100%;
  background-color: #070439;
  color: white;
  padding: 100px;
}

footer .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .flex-container .box {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  min-width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

footer .flex-container .box span {
  display: block;
  padding: 10px 0;
}

footer .flex-container .box span img {
  padding-right: 10px;
}

footer .flex-container .box a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  font-size: 1.1rem;
}

footer .flex-container .box a:hover {
  color: #585989;
}

footer .flex-container .box:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .flex-container .box:last-child span {
  display: block;
  margin: 10px;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
}

footer .flex-container .box:last-child span:hover {
  color: #3065f8;
  border-color: #3065f8;
  cursor: pointer;
}

@media screen and (max-width: 1048px) {
  .intro {
    padding: 0 20px;
  }
  .productive .content,
  .access,
  footer {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 852px) {
  .intro .text h1 {
    font-size: 2rem;
  }
  .productive .content .text h1 {
    font-size: 2rem;
  }
  .access .input .input-section input,
  .access .input .input-section button {
    width: 100%;
  }
  footer .flex-container .box {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    min-width: 50%;
  }
}

@media screen and (max-width: 624px) {
  .intro .text h1 {
    font-size: 2rem;
  }
  .productive .content,
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .productive .content .text,
  .productive .content .image,
  .intro .text,
  .intro .image {
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  .productive .content .text .input-section,
  .productive .content .image .input-section,
  .intro .text .input-section,
  .intro .image .input-section {
    width: 100%;
  }
  .productive .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .access {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .access .input,
  .access .text {
    width: 100%;
  }
}

@media screen and (max-width: 484px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .flex-container .box {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    min-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .access .input .input-section {
    padding: 0px;
  }
  .intro .text .input-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro .text .input-section input {
    width: 100%;
  }
  .intro .text .input-section button {
    width: 100%;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */